.btn {
  &,
  &:visited,
  &:link {
    text-decoration: none;
    text-transform: capitalize;
    color: $cc-primary-dark;
    font-weight: $fw-bold;
    font-size: $f-default-size;
    padding: 0.625rem;
    display: inline-block;
    width: 80%;
    margin-top: 2rem;
  }

  &-primary {
    border: 1px solid $cc-primary-dark;
    border-radius: 1.5625rem;
    transition: all 0.2s;
    cursor: pointer;
    background: transparent;
    &:hover {
      box-shadow: 0 0 1.875rem rgba($cc-primary-dark, 0.25);
    }

    &:active {
      transform: translateY(3px);
      box-shadow: 0 0 0.625rem rgba($cc-primary-dark, 0.25);
    }
  }
}
