*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-color: $cc-white;
}

body {
  box-sizing: border-box;
  max-width: 450px;
  margin: 0 auto;
  background-color: $cc-bg-main;
  color: $cc-primary;

  text-align: center;
  font-family: $ff-main;
  line-height: 200%;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
