.header {
  width: 100%;
  background: url(/dist/images/heading-deco.svg) no-repeat top/100%;
  margin: 0;
  padding-bottom: 3.125rem;
  position: relative;

  &__container {
    padding: 0 1rem;
  }

  &__language {
    position: absolute;
    padding: 0 9px;
    background: $cc-bg-main;
    border-radius: 100%;
    top: 1rem;
    right: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0 0.75rem rgba($cc-primary-dark, 0.4);
    transition: all 0.2s;

    &:hover {
      background-color: $cc-primary-dark;
      color: $cc-bg-main;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.banner {
  &__img {
    height: auto;
    width: 100%;
  }
}

.section-divider {
  text-align: center;

  &__img {
    width: 71px;
    margin: 0 auto;
  }
}

.our-story__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($cc-primary-dark, 0.4);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;

  &__page {
    border-radius: 0.75rem;
    margin: auto;
    height: auto;

    width: 330px;
    background-color: $cc-bg-main;

    padding: 1.25rem;

    &__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0.5rem 0 0.5rem 0;

      h5 {
        margin: 0;
      }
    }

    &__content p {
      padding: 0 0 2rem 0;
    }
  }
}

@media (max-width: 335px) {
  .our-story__popup {
    &__page {
      &__container {
        max-width: 290px;
      }
    }
  }
}

.contact {
  &__content {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    h4 {
      height: auto;
      margin: 0.47rem 1.25rem auto 0;
    }

    a,
    a:link,
    a:visited {
      color: $cc-primary;

      i {
        font-size: 1rem;
        padding: 0.5625rem;
        transition: all 0.2s;

        &:hover {
          color: darken($cc-primary, 0.2);
          transform: scale(1.05) translateY(-2px);
        }

        &:active {
          transform: translateY(0);
          color: $cc-primary-dark;
        }
      }
    }
  }
}

.schedule {
  background-color: $cc-bg-olive;

  &__heading {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    &__img {
      width: 2.9rem;
    }
  }

  &__content {
    ul {
      li {
        span:first-child {
          width: 35%;
          display: inline-block;
          text-align: right;
          margin-right: 1rem;
        }

        span:last-child {
          width: 55%;
          display: inline-block;
          text-align: left;
        }
      }
    }
  }
}

.wedding-party {
  &__profiles {
    display: grid;
    grid-template-columns: auto auto;

    &--detail {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin-bottom: 1.5rem;

      img {
        max-width: 171px;
        margin: 0 auto 1rem auto;
      }
    }
  }
}

.gift-registry {
  &__content {
    a:last-child {
      margin-top: 1rem;
    }
  }
}

.location {
  iframe {
    margin-left: -1rem;
  }
  &__content {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.rsvp {
  background-color: $cc-bg-olive;

  &__heading {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    h2 {
      line-height: 100%;
      margin: auto 1rem;
    }

    &__img {
      width: 5.75rem;
      margin: auto;
    }
  }
}
