h2 {
  color: $cc-primary-dark;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: $fw-bold;
  text-transform: capitalize;
  color: $cc-primary-dark;
}

p {
  line-height: 1.75rem;
  font-size: $f-default-size;
  padding: 0 1.5rem;
}

.heading__primary {
  font-size: 1.5rem;
  font-weight: 800;
  color: $cc-primary-dark;
  text-transform: uppercase;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;

  span {
    font-family: $ff-accent;
    font-weight: 400;
    color: $cc-primary;
    text-transform: lowercase;
  }
}

.content {
  font-size: $f-default-size;
}

.header {
  p {
    padding: 0 16%;
  }

  &__language {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: $fw-bold;
    color: $cc-primary-dark;
  }
}

.banner {
  &__content {
    font-size: 0.875rem;

    &--detail-date {
      font-weight: $fw-bold;
      margin-bottom: 0.75rem;
    }

    &--location {
      font-weight: $fw-extrabold;
    }
  }
}

.our-story__popup__page {
  &__heading {
    text-align: center;
  }

  &__content p {
    text-align: left;
    line-height: 200%;
  }
}

.contact {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.schedule {
  &__heading {
    h2 {
      margin: 0 1rem;
    }
  }
  &__content {
    ul {
      list-style: none;
      margin-top: 1rem;

      li {
        color: $cc-primary-dark;
        font-size: 1rem;
        text-transform: capitalize;

        &:not(:last-child) {
          padding-bottom: 4px;
        }
      }
    }
  }
}

.gift-registry {
  &__content {
    p {
      padding: 0 0.5rem;
    }
  }
}
