// PADDING
.pt-8 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 3.125rem;
}

// MARGIN
.m-5 {
  margin: 3.125rem 0;
}
.mb-5 {
  margin-bottom: 3.125rem;
}

.container {
  width: 100%;
  padding: 0 1rem;
}
