// PADDING
.p-5 {
  padding: 3.125rem 0;
}

.pt-8 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 3.125rem;
}

.ph-1 {
  padding-right: 15px;
}

// MARGIN
.m-5 {
  margin: 3.125rem 0;
}
.mb-5 {
  margin-bottom: 3.125rem;
}

.container {
  width: 100%;
  padding: 3.125rem 1rem;
}

.close-icon {
  cursor: pointer;
  padding: 0.5rem 0.625rem;
  margin-top: -0.625rem;
  margin-right: -0.5rem;
}

.show-popup {
  visibility: visible !important;
  z-index: 10 !important;
}
