// COLOR
$cc-primary: #7b7047;
$cc-primary-light: #978c63;
$cc-primary-dark: #414223;

$cc-secondary: #d0a47f;
$cc-secondary-dark: #b98a55;

$cc-bg-main: #f6f3ee;
$cc-bg-olive: #efead9;

$cc-grey-mid1: #c4c4c4;
$cc-grey-mid2: #b8b8b8;
$cc-grey-dark: #333333;

$cc-white: #f3f3f3;
$cc-black: #000;

// FONT
$ff-main: "Martel", serif;
$ff-accent: "Mr De Haviland", cursive;

$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;

$f-default-size: 0.875rem;
